doctype html
html 
    head 
        title Priyanshu's Dance Academy
        block scripts 
        block style
    body 
        nav#navbar
            ul
                div#logo
                    img(src="/static/logo.png")
                    | HDA
                li #[a(href="/") Home]
                li #[a(href="/") About ]
                li #[a(href="/") Services]
                li #[a(href="/") Class info ]
                li #[a(href="/") Contact Us ]

        block content 
        footer#footer 
            | Copyright © 2019 priyanshudanceacademy.com | All rights reserved

