extends base.pug

block scripts 
    scripts(src="/static/index.js")

block style 
    style 
        include ../static/style.css 

block content 
        section#introSection 
            div Welcome to priyanshu's dance academy.
            div.small Eat sleep dance repeat.
        hr
        section#missionSection 
            h2 Our Mission
            hr
            div.cardmain
                div.card
                    h3 Dance Perfection
                    hr
                    div.card-box
                        div.card-img
                            img(src="/static/dance-1.png")
                        div.card-content
                            p this is the best dance academy of the world.
                div.middle
                div.card
                    h3 Dance Yourself
                    hr
                    div.card-box
                        div.card-img
                            img(src="/static/dance-2.png")
                        div.card-content
                            p this is the best dance academy of the world.
                div.middle
                div.card
                    h3 Teacher's need
                    hr
                    div.card-box
                        div.card-img
                            img(src="/static/dance-3.png")
                        div.card-content
                            p this is the best dance academy of the world.
        hr    
        section#sponsersSection 
            h2 Our Sponsers
            hr
            div#sponsors
                img(src="/static/applelogo.png", alt="Sponcers" , class="spImages")
                img(src="/static/hplogo.png", alt="Sponcers" , class="spImages")
                img(src="/static/microsoftlogo.png", alt="Sponcers" , class="spImages")
                img(src="/static/skypelogo.png", alt="Sponcers" , class="spImages")


                                                                                                                                                                                                                                   