doctype html
html 
    head
        style 
            include ../static/style.css 
    body 
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About ]
                li #[a(href="/") Services]
                li #[a(href="/") Class info ]
                li #[a(href="/") Contact ]

        section#introSection 
            div Welcome to priyanshu's dance academy.
            div.small Eat sleep dance repeat.

        hr    
        section#sponsersSection 
            h2 Our Sponsers
            hr
        
        footer#footer 
            |our footer here
        script 
            include ../static/index.js 
